[submodule "detection"]
	path = detection
	url = git@github.com:roger-tseng/CodecResynBenchmark.git
[submodule "dataset_creation"]
	path = dataset_creation
	url = git@github.com:roger-tseng/AudioDecBenchmark.git
	branch = vctk
